@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: Inter;
}

/* Home Page */
.dashboard {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),url('/img-assets/banner.jpg');
}

.games {
    height: 100vh;
}

.list-games .image-product img {
    max-width: 300px;
}

.list-games .image-product {
    width: 15rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 6px;
}

.btn-check + .btn {
    border-radius: 20px;
}

.btn-check:checked + .btn {
	border-radius: 20px;
	border: 1.5px solid #33b2fa;
    color: white;
    background-color: #33b2fa;
}

/* Utilities */
.text-black {
    color: black;
}

.button-primary {
    background-color: #33b2fa;
    color: white;
    font-weight: 800;
    border: 2px solid #33b2fa;
}

.bg-blue {
    background-color: #33b2fa;
}